<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Fact.Extensions.Collection.Android.TestApp.Fact.Extensions.Collection.Android.TestApp" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="22" />
	<application android:label="Fact.Extensions.Collection.Android.TestApp"></application>
</manifest>